<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Versionoder</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                <aside class="column version-list">
                    Loading&hellip;
                </aside>
                <aside class="column info-data">
                    Data
                </aside>
            </div>
        </div>
        <script src="../scripts/main.js"></script>
    </body>
</html>
